
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateOrder</title>
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        function create_on(providerid) {
            var price = document.getElementById("Price").value;
            var startdate = document.getElementById("StartDate").value;
            var enddate = document.getElementById("EndDate").value;
            var information = document.getElementById("Information").value;
            var providerid = "@ViewData["ProviderId"]";
            if (price == "" || startdate == "" || enddate == "" || information == "" || providerid == "") {
                alert("please input all information requested!");
            }
            else {
                var temp = create("http://localhost:54378/Orders/Create", price, startdate, enddate, information, providerid);
            }


            if (temp == "result=\"CreateOrderSuccess\"") {

                window.location.href = "http://localhost:54378/Orders/ShowMyOrders";
            }
            else if (temp == "result=\"YouCannotRecieveYourOwnOrder\"") {
                alert("你不能领取自己发布的需求！");
            }
            else {
                alert("领取失败！");
            }

        }

        function create(URL, price, startdate, enddate, information, providerid) {
            var result;
            $.ajax({
                type: "Post",
                url: URL,
                async: false,
                dataType: "json",
                data: {
                    ProviderId: providerid,
                    Price: price,
                    StartDate: startdate,
                    EndDate: enddate,
                    Information: information

                },
                success: function (json) {
                    console.log(json)
                    result = json
                },
                fail: function () {

                }
            });
            return result;

        }
    </script>
</head>
<body>


    <div class="span12">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="">创建订单</a>
            </li>
        </ul>
    </div>

    <hr />
    <div class="row" style="display:flex;justify-content:center">

        <table class="table table-bordered" style="width:40%;border:solid;border-color:gainsboro;background-color:ghostwhite;">
            <tr>
                <td class="col-md-4">
                    价格
                </td>
                <td class="col-md-6">
                    <input class="form-control required" type="text" placeholder="Price" id="Price" autofocus="autofocus" maxlength="20" />
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    开始日期
                </td>
                <td class="col-md-6">
                    <input class="form-control required" type="text" placeholder="YYYY/MM/DD" id="StartDate" autofocus="autofocus" maxlength="20" />
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    截止日期
                </td>
                <td class="col-md-6">
                    <input class="form-control required" type="text" placeholder="YYYY/MM/DD" id="EndDate" autofocus="autofocus" maxlength="20" />
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    具体需求
                </td>
                <td class="col-md-6">
                    <textarea class="" placeholder="Infomation" id="Information" style="height:200px;width:90%;"></textarea>
                </td>
            </tr>
            
        </table>
        <div>
            <button class="btn" onclick="create_on()" style="display:flex;justify-content:center">创建</button>
        </div>
        <div>
            <button class="btn" onclick="window.location.href='/Home/BuyerPage'" style="display:flex;justify-content:center">返回</button>
        </div>

    </div>

</body>
</html>
