@using wetest.Models.models
@model IEnumerable<wetest.Models.Item>

@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BuyerPage</title>
    <link href="~/css/BuyerPage.css" rel="stylesheet"/>
    <script>

    </script>
</head>
<body>
    <div id="header">
        <div class="container">
            <div id="logo">
                <h1>Logo</h1>
            </div>
            <div class="jumptotest">
                <a href="">我是测试</a>
            </div>
            <div id="nav">
                <ul>
                    <li>
                        <a href="">项目跟进</a>
                    </li>
                    <li>
                        <a href="">订单历史</a>
                    </li>
                    <li>
                        <a href="/UserInfoes/CurrentUser">我的详情</a>
                    </li>

                </ul>
            </div>
            <div class="userphoto">photohere</div>
        </div>
    </div>
    
   @foreach (var item in Model)
    {
        <div class="items">
            <div class="item">

                <h4 class="title">@Html.DisplayFor(modelItem => item.Title)</h4>
                <h5 class="information"> @Html.DisplayFor(modelItem => item.Information)</h5>
                <a href="/Items/Details/@item.Id">Details</a>
                
            </div>
        </div>
     }
    
</body>
    

</html>
