@using wetest.Models.models
@model IEnumerable<wetest.Models.Item>

@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BuyerPage</title>
    <link href="~/css/BuyerPage.css" rel="stylesheet" />
    <link href="~/css/header.css" rel="stylesheet" />
    <script>

    </script>
</head>
<body>
    <div id="head">
        <div class="container">
            <div id="logo">
                <h4>Logo</h4>
            </div>            
            <div id="u">
                <ul>
                    <li>
                        <a href="http://localhost:54378/Home/TesterPage">服务需求</a>
                    </li>
                    <li>
                        <a href="/Orders/ShowMyOrders">订单历史</a>
                    </li>
                    <li>
                        <a href="/UserInfoes/CurrentUser">我的详情</a>
                    </li>

                </ul>
            </div>        
        </div>
    </div>
    
   @foreach (var item in Model)
    {
        <div class="items">
            <div class="item">

                <h4 class="title">@Html.DisplayFor(modelItem => item.Title)</h4>
                <h5 class="information"> @Html.DisplayFor(modelItem => item.Information)</h5>
                <button href="/Items/Details/@item.Id">Details</button>
                
            </div>
        </div>
     }
    
</body>
    

</html>
