@using wetest.Models.viewmodels
@model UserRegistViewModel
@{
    Layout = null;
}
<html>
<head>
    <meta charset="UTF-8">
    <title>login</title>

    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/LoginPage.css">

    <script>
        function loginuser(URL, username, password){
            var result;
            $.ajax({  
                type: "Post",
                url: URL, 
                async: false, 
                dataType: "json",
                data: {
                    Name: username,
                    Password: password                   
                },
                success: function (json) {    
                    console.log(json)
                    result=json
                },
                fail: function () {

                }
            });
            return result;
        }

        function postuser(URL, username, password) {
            var result;
            $.ajax({
                type: "Post",
                url: URL,
                async: false,
                dataType: "json",
                data: {
                    Name: username,
                    Password: password,
                    Level:2
                },
                success: function (json) {
                    console.log(json)
                    result = json
                },
                fail: function () {

                }
            });
            return result;
        }

        function get(URL) {

            $.ajax({  
                type: "Get",
                url: URL, 
                success: function (json) {   
                    console.log(json)            
                },
                fail: function () {

                }
            });   
        }

    function login_btn() {
        document.getElementById("login").style.display = "inline";
        document.getElementById("regist").style.display = "none";
    }
    function regist_btn() {
        document.getElementById("login").style.display = "none";
        document.getElementById("regist").style.display = "inline";

    }
    function regist_go() {
        var username = document.getElementById("username2").value;
        var password = document.getElementById("password2").value;
        var confirmpassword = document.getElementById("confirmpassword").value;
        if (username == "" || password == "" || confirmpassword == "") {
            alert("请输入所需信息！");

        }
        else if (password != confirmpassword) {
            alert("两次密码输入不一致！");
        }
        else {
            var temp = postuser("http://localhost:54378/Users/Create", username, password);
        }

        if (temp == "result=\"CreateUserSuccess\"") {

            login_btn();
            document.getElementById("username").value = username;
            document.getElementById("password").value = password;
        }
        else if (temp == "result=\"ExistUser\""){
            
            alert("注册失败！账号已存在");

        }
        
    }

    function login_go() {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        var confirmpassword = document.getElementById("confirmpassword").value;
        if (username == "" || password == "") {
            alert("请输入账号密码！");

        }
        else {
            var temp = loginuser("http://localhost:54378/Users/Login", username, password);
        }

        if (temp == "result=\"UserLoginSuccess\"") {

            window.location.href = "http://localhost:54378/Home/BuyerPage";
        }
        else if (temp == "result=\"ManagerLoginSuccess\"") {

            window.location.href = "http://localhost:54378/Appeals/Index";
        }
        else {
            alert("登录失败，账号或密码错误！");

        }
        
    }


    </script>

</head>
<body>
    <div class="container">
        <div class="form row">
            <div class="form-horizontal col-md-offset-3" id="login_form">
                <div style="left:50px;top:8px;position:relative;">
                     <button class="btn btn-default form-title" onclick="login_btn()">登录</button>
                     <button class="btn btn-default form-title" onclick="regist_btn()">注册</button>
                </div>
                <div class="col-md-9 login" style="display:inline;" id="login">
                    <div class="form-group">
                        <i class="fa fa-user fa-lg"></i>
                        <input class="form-control required" asp-for="Name" type="text" placeholder="Username" id="username" name="username" autofocus="autofocus" maxlength="15" />
                    </div>
                    <div class="form-group">
                        <i class="fa fa-lock fa-lg"></i>
                        <input class="form-control required" asp-for="Password" type="password" placeholder="Password" id="password" name="password" maxlength="15" />
                    </div>
                
                    <div class="form-group col-md-offset-9">
                        <button type="submit" class="btn btn-success pull-right" name="submit" onclick="login_go()">登录</button>
                    </div>
                </div>
                <div class="col-md-9 regist" style="display:none;" id="regist">
                    <div class="form-group">
                        <i class="fa fa-user fa-lg"></i>
                        <input class="form-control required" type="text" placeholder="Username" id="username2" name="username2" autofocus="autofocus" maxlength="15" />
                    </div>
                    <div class="form-group">
                        <i class="fa fa-lock fa-lg"></i>
                        <input class="form-control required" type="password" placeholder="Password" id="password2" name="password2" maxlength="15" />
                    </div>
                    <div class="form-group">
                        <i class="fa fa-lock fa-lg"></i>
                        <input class="form-control required" type="password" placeholder="Confirm Password" id="confirmpassword" name="confirmpassword" maxlength="15" />
                    </div>
                    <div class="form-group col-md-offset-9">
                        <button type="submit" class="btn btn-success pull-right" name="regist" onclick="regist_go()">注册</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>